@import url('/meinerschrift.otf');

@font-face { font-family: 'meine-schrift';
             src: url('meinerschrift.otf') format('truetype'); }

body{
  background-color: #090c06;

}
@keyframes animate
{
  0%
  {
    background-position: 0 0;
  }
  100%
  {
    background-position: 100% 100%;
  }
}

#container {
    width: 500px;
    margin: 0 auto;
    position: relative;
}

#maintext{
  width: 50%;
  padding: 20px;
  border-radius: 10px;
  background: url(noise50.jpg);
  animation: animate .4s steps(5) infinite;
}

p{
  letter-spacing: 1px;
  font-family: meine-schrift;
  font-size: 18px;
  color: #7dff64;
}

strong{
  letter-spacing: 1px;
  font-family: meine-schrift;
  font-size: 19px;
  color: #7dff64;
}

details summary::-webkit-details-marker {
  background: #180c0f;
  color: #fff;
  font-size: 100%;
}

h3{
  letter-spacing: 1px;
  font-family: meine-schrift;
  font-size: 19px;
  color: #7dff64;
  text-align: left;
}

ul{
  letter-spacing: 1px;
  font-family: meine-schrift;
  font-size: 18px;
  color: #7dff64;
  list-style-type: lower-alpha;
  text-align: left;
}

li:hover{
  background-color: #090c06;
  color: white;
}

table#t1{
  width: 100%;
  border-collapse: collapse;
  letter-spacing: 1px;
  font-family: meine-schrift;
  font-size: 18px;
  color: #7dff64;
}

table#t1 tr{
  line-height: 20px;
}

table#t1 td{
  height: 20px;
  text-align: left;
  padding: 5px;
}

table#t1 th{
  height: 40px;
  text-align: justify;
  padding: 5px;
}

table#t1 tr#hov:hover{
  background-color: #090c06;
  color: white;
}

.backbutton {
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  letter-spacing: 1px;
  font-family: meine-schrift;
  font-size: 19px;
  color: #7dff64;
  text-align: left;
}

/* Style the button that is used to open and close the collapsible content */
.collapsible {
  background-color: #090c06;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
  background-color: #090c06;
}

/* Style the collapsible content. Note: hidden by default */
.content {
  background-color: #1b1b11;
  opacity: 90%;
  padding: 0 18px;
  display: none;
  overflow: hidden;

}
